*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: 2em auto;
}
#name{
    background-color: grey;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
#introduction{
    background-color: black;
    color: white;
    padding: 2em 0;
    line-height: 1.8em;
}
#skills{
    line-height: 2em;
    margin: 2em 0;
    padding-left: 2em;
    border: 1px solid grey;
    background-color: aqua;
}
#contact{
    background-color: rgb(239, 232, 232);
    padding-left: 2em;
    line-height: 1.5em;
}
#contact h3{
    padding-bottom: 1em;
}
#contact li{
    list-style: none;
}
#contact a{
    text-decoration: none;
    color: black;
}
#contact a:hover{
    color: blue;
}
@media only screen and (max-width: 992px) {
    #skills{
        margin: 1em 0;
    }
}